{
  "name": "fund #1",
  "trading_type": "9",
  "trading_amount": 0,

  "buy_time": "08:51",
  "sell_time": "10:01",
  "sell_time2": "15:21",

  "case1_stock_code": "122630",
  "case0_stock_code": "252710",

  "output_path": "C:/.../Strategy.json",

  "strategy_url": "https://..."
}